@import 'font/flaticon.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: "jost";
    /* src: url("../fonts/jost/static/Jost-Regular.ttf"); */
    src: url('../fonts/jost/jost-variablefont_wght-webfont.woff2') format('woff2'),
        url('../fonts/jost/jost-variablefont_wght-webfont.woff') format('woff');
    /* IE9*/
    src: url("../fonts/jost/static/Jost-Regular.ttf") format("embedded-opentype"),
        /* IE6-IE8 */
        /* url("../fonts/Circular\ Std\ Medium/@font-face/9475d6a0b79c164f9f605673714e75d9.woff2") format("woff2"), */
        /* chrome、firefox */
        /* url("../fonts/Circular\ Std\ Medium/@font-face/9475d6a0b79c164f9f605673714e75d9.woff") format("woff"), */
        /* chrome、firefox */
        /* url("../fonts/Circular\ Std\ Medium/@font-face/9475d6a0b79c164f9f605673714e75d9.ttf") format("truetype"), */
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        /* url("../fonts/Circular\ Std\ Medium/@font-face/9475d6a0b79c164f9f605673714e75d9.svg#Circular Std Medium") format("svg"); */
        /* iOS 4.1- */
}


body {

    font-family: jost, Roboto !important;
    scrollbar-color: #8338ec #f1f1f1;
    scrollbar-width: 10px;
    /* scrollbar */
}

.flex-main-wrap {
    display: flex;
}

.icons::before {
    margin-left: 0;
}

.no-shadow:focus {
    box-shadow: none !important;
}


.flex-main-wrap .content-section {
    flex-grow: 1;
    height: 100vh;
    overflow-y: hidden;
    background-color: #f6f8f9;
}


.option-icon::before {
    font-size: 0.8rem;
    line-height: 21px !important;
    margin-right: 2rem;
}

.btn-drop {
    cursor: pointer;
}

.fav-star {
    margin-right: 1rem;
    cursor: pointer;
}

.fav-star .fav-icon {
    width: 1rem;
}


.scroll-content {
    height: calc(100% - 42.6px);
    overflow-y: auto;
    padding: 0 4rem !important;
    position: relative;
}

.script-content-fs {
    padding: 0 0rem !important;
}


.btn-create {
    position: relative;
   
    font-size: 0.7rem !important;
    /* font-weight: bold !important; */
    padding: 0.5rem 1rem 0.5rem 2rem;
    display: flex !important;
    align-items: center !important;
    border-radius: 0.5rem !important;
}

.btn-one {
    color: #fff !important;
    background-color: #8338ec !important;
    font-size: 0.7rem !important;
}

.py-2 {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
}

.btn-create span {
    font-size: 1.3rem;
    margin-right: 0.3rem;
    position: absolute;
    left: 7px;
    top: -2px;
}


.content-wrap {
    background-color: #ffffff;
    border-radius: 0.3rem;
    box-shadow: 2px 3px 4px #d2cccc;
    margin-bottom: 2rem;
    overflow-x: hidden;
    position: relative;
}

.content-wrap .title {
    font-size: 0.8rem;
    color: #8994a0;
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid #d9dce3;
    border-radius: 0.5rem;
    margin: 0 1rem 3rem 1rem;
}


.search-form .search-btn {
    background-color: transparent;
    padding: 0.075rem 0.75rem;
}

.search-form input {
    background-color: transparent;
    border: none;
    padding: 0.175rem 0.05rem;
    height: calc(1.5em + 0.75rem + 4px);
    font-size: 0.9rem;
}

.search-form .search-btn i::before {
    color: #566677;
    font-size: 1.2rem;
    display: inline;
    line-height: 31px;
}

.sort-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem 1rem 1rem;
}

.sort-wrap .acct-desc {
    font-size: 0.9rem;
    font-weight: bold;
}

.sort-wrap .sort-select {
    background-color: #fff;
    border: 1px solid #b4b6b9;
    border-radius: 0.4rem;
    min-width: 140px;
    padding: 0.55rem 0.55rem;
    font-size: 0.8rem;
}

.btn-export-all {
    border: 1px solid #b4b6b9 !important;
    font-size: 0.8rem !important;
    border-radius: 0.3rem !important;
    color: #5f6f7f !important;
}


.drop-link {
    text-decoration: none !important;
    color: #22262a;
    display: flex !important;
    align-items: center;
}

.drop-link img {
    width: 1rem;
    margin-right: 0.3rem;
}

.drop-link:hover {
    color: #22262a;
}

.table-custom td,
.table-custom th {
    padding: 1.55rem 1.6rem !important;
    color: #000;
}

.table-custom tbody td {
    font-size: 0.9rem;
    vertical-align: middle;
}

.table-custom tbody tr {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}


.table-custom tr td:nth-child(2) {
    text-align: center;
}


.table-custom tr td:last-child {
    text-align: right;
}


.table-more-option::before {
    font-size: 0.9rem;
    color: #7f8b98;
    margin-left: 1rem;
}

.btn-upgrade {
    color: #fff !important;
    background-color: #8338ec !important;
    font-size: 0.7rem !important;
}

.btn-border-secondary {
    color: #8338ec !important;
    border: 1px solid #8338ec !important;
    margin-right: 0.5rem;
    font-size: 0.8rem !important;
}

.table-nav {
    padding: 0 0.7rem 0.7rem 0.7rem;
    display: flex;
    align-items: center;
}

.table-nav .page-link {
    color: #303033;
    border: 2px solid #b8b8b8;
    border-radius: 0.4rem !important;
    padding: 0.35rem 0.85rem;
    font-size: 0.9rem;
}

.table-nav .active .page-link {
    background-color: #ffffff;
    color: #7330bf;
    border: 2px solid #b8b8b8;
}

.table-nav nav {
    flex-grow: 1;
}

.table-nav .desc {
    font-size: 0.8rem;
    color: #7441c1;
}

.table-nav .page-item {
    margin-right: 0.5rem;
}

.show {
    display: block !important;
}

.modal-inner {
    padding: 0.7rem 0.8rem;
}

.modal-inner .title {
    font-size: 0.8rem;
    color: #79869d;
    margin-bottom: 2rem;
}

.modal-inner label,
.settings-form-wrap label {
    font-size: 0.7rem;
    color: #79869d;
}

.form-general {
    background-color: #efefef;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    height: calc(1.5em + .75rem + 10px);
}

.nb-text {
    color: #79869d;
    font-size: 0.7rem;
    margin-bottom: 2rem;
}

.btn-flex {
    display: flex;
    align-items: center;
}

.btn-close {
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.3rem 0.7rem;
}

.btn-create-modal {
    background-color: #00e4f4;
    color: #ffffff;
    font-size: 0.7rem;
    padding: 0.65rem;
}

.step-title {
    color: #79869d;
    font-size: 0.8rem;
}

.setup-steps li {
    font-size: 0.7rem;
    color: #79869d;
}

.auto-check {
    background-color: #06aa20;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    padding: 0.3rem 0.4rem;
    border-radius: 0.1rem;
}

.no-data {
    display: inline-flex;
    align-items: center;
}

.auto-check span,
.no-data span {
    font-size: 0.6rem;
    margin-left: 0.3rem;
}

.bg-none {
    background-color: transparent !important;

}

.bg-none i::before {
    color: #79869d !important;
}



.check-icon,
.alert-icon {
    width: 1rem;
}

.modal-inner .form-check-label {
    display: initial;
}

.search-form-train {
    max-width: 235px;
}

.training-wrap iframe {
    max-width: 100%;
    width: 100%;
    height: 200px;
    border-radius: 1.7rem;
}

.fit-height {
    min-height: calc(100% - 48px);
}

.settings-wrap {
    padding: 1rem;
    min-height: calc(100% - 18px);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.settings-form-wrap,
.ghost-table {
    margin-top: 3rem;
}

.user-img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-img-wrap img {
    width: 5rem;
}

.user-img-wrap .title {
    margin-top: 0.4rem;
}

.settings-form-wrap {
    padding: 0 2.5rem;
}

.form-group {
    margin-bottom: 0.7rem;
}

.settings-form-wrap .form-group {
    margin-bottom: 0.3rem;
}

.settings-form-wrap .form-general {
    height: calc(1.5em + .75rem + 8px);
}

.settings-form-wrap .email-text {
    font-size: 0.7rem;
    text-align: center;
}

.ghost-table tr td {
    border: none;
}

.ghost-table tr td {
    color: #79869d;
    font-size: 0.8rem;
    vertical-align: middle;
}

.ghost-table tr td:first-child {
    min-width: 130px;
}

.btn-create-modal i::before {
    font-size: 0.9rem;
}

.bg-pink {
    background-color: #e60b88;
}

.btn-lead-wrap .btn-create {
    padding: 0.45rem 1.7rem;
    margin-left: 1rem;
}

.lead-select {
    width: 200px;
    height: calc(1.5em + .75rem + 6px);
    background-color: transparent;
    padding: 0.45rem 0.1rem !important;
    color: #c4c4c4;
    font-weight: normal;
}

.lead-table tr td,
.link-table tr td {
    vertical-align: middle !important;
}

.link-table td {
    padding: 0.45rem 1.15rem;
    color: #7f8b98;
}

.lead-table .btn-close {
    font-size: 0.9rem;
    padding: 0.1rem 0.5rem;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.link-paper {
    height: 80px;
    width: 65px;
    box-shadow: 0px 3px 2px #c2c2c2;
    word-break: normal;
    display: flex;
    justify-content: center;
    padding: 0 0.7rem;
    align-items: center;
    border: 1px solid #c2c2c2;
    border-radius: 0.2rem;
    background-color: #ffffff;
}

.link-main-wrap .gen-link {
    margin-top: 0.5rem;
    border: 1px solid #c0c6d1;
    padding: 0.27rem 0.4rem;
    max-width: 198px;
    height: 28px;
    text-overflow: ellipsis;
    word-wrap: unset;
    word-break: break-all;
    overflow: hidden;
}

.form-fetch {
    display: flex;
    align-items: center;
}

.error {
    color: #fb0909;
    text-align: center;
    font-size: 1rem;
}

.invalid-feedback {
    display: block !important;
}

.success {
    color: #4df809;
    font-size: 1rem;
    text-align: center;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.05rem 1.25rem;
    color: inherit;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.form-fetch input,
.form-fetch select {
    background-color: transparent;
    border: none;
    font-size: 0.8rem;

}

.form-fetch input:focus,
.form-fetch select:focus {
    background-color: initial;
}

.form-fetch .btn-fetch {
    background-color: #00e4f4;
    font-size: 0.8rem;
    color: #ffffff;
    padding: 0.65rem 0.85rem;
    border-radius: 0.5rem 0.5rem 0 0.5rem;
}

.btn-fetch i::before {
    font-size: 0.7rem;
}

.form-color {
    width: 45px;
    padding: 0.375rem 0.45rem;
    height: calc(1.5em + .75rem + -2px);
}

.modal-inner .sub-head {
    color: #79869d;
    font-size: 0.8rem;
}

.form-item {
    display: flex;
    align-items: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 13px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    transition: .4s;
    box-shadow: 1px 1px 2px #868383;
}

input:checked+.slider {
    background-color: #21d77f;
}

input:focus+.slider {
    box-shadow: 0 0 1px #21d77f;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.switch-wrap {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin: 0 0.3rem 0.6rem 0;
}

.logo-input-wrap {
    margin-top: 1rem;
    padding: 0 2rem 0 4rem;
}

.social-icons-lg::before {
    font-size: 0.8rem;
    color: #79869d;
    margin-left: 0.4rem;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dashboard-top {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}

.dashboard-top .title {
    color: #393f46;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.dashboard-top .desc {
    color: #79869d;
    font-size: 0.9rem;
    line-height: 1rem;
}



.vid-box,
.lead-stat-box {
    background-color: #ffffff;
    height: 375px;
    border-radius: 0.6rem;
    box-shadow: 0px 3px 6px #99949482;
}

.vid-box iframe {
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
}


.login-form-wrap .form-group {
    margin-bottom: 0.5rem;
}


.logo-large {
    width: 19rem;
}


.more-option-wrap {
    position: relative;
    display: inline-block;
}

.action-drop {
    position: absolute;
    display: none;
    top: 30px;
    right: 50%;
    margin-right: -13px;
    z-index: 99;
}

.action-drop .setup-drop-inner {
    background-color: #ffffff;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 3px #bfb9b9;
    padding: 0.8rem 0.6rem;
    position: relative;
}

.action-drop .setup-drop-inner::before {
    content: "";
    border: 5px solid;
    border-color: transparent transparent #fbfbfb transparent;
    position: absolute;
    top: -10px;
    right: 30%;
    margin-right: -6px;
}

.action-drop-btn {
    cursor: pointer;
}

.action-drop .nav-link {
    color: #79869d;
    font-size: 0.85rem;
    display: flex;
    padding: 0.4rem 0.75rem;
    align-items: center;
}

.action-drop .nav-link i::before {
    font-size: 0.8rem;
    margin-right: 0.7rem;
}



#delete-modal .modal-dialog {
    max-width: 380px;
}

#delete-modal .title {
    font-size: 0.85rem;
}

#delete-modal .btn-close,
#delete-modal .btn-create-modal {
    font-size: 0.8rem;
    padding: 0.35rem 0.75rem;
}

.apexcharts-zoom-icon,
.apexcharts-reset-icon,
.apexcharts-menu-icon {
    display: none !important;
}

#api-key,
#api-url,
#api-secret,
#secret-key,
#access-token,
#refresh-token,
#account-id,
#client-id,
#client-secret,
#redirect-url,
#pwd,
#username,
#hash-key,
#sendlane-subdomain,
#webhook-url {
    display: none;
}


@media screen and (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        max-width: 900px;
    }

    .nb-text {
        max-width: 50%;
    }
}


@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* New Css */

.login-form-wrap .title {
    color: #79869d;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.login-form-wrap .img-logo {
    width: 9rem;
}

.input-signin {
    border: 1px solid #bac0ca !important;
    border-radius: 0.4rem !important;
    height: calc(1.5em + .75rem) !important;
}

.btn-login {
    color: #ffffff !important;
    background: linear-gradient(to right, #ca50f5, #6126b9) !important;
    font-size: 0.9rem !important;
    padding: 0.55rem 0.75rem !important;
    margin: 1rem 0 0.7rem 0 !important;
    border: none !important;
    transition: background 0.5s !important;
}

.spinner {
    width: 1.5rem;
    display: none;
}

.save-modal[disabled="disabled"] span {
    display: none;
}

[disabled="disabled"] .spinner {
    display: inline-block;
}

.btn-login:hover {
    background: linear-gradient(to right, #6126b9, #ca50f5) !important;
}

.custom-pwd-box {
    border: 1px solid #bac0ca;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    padding-right: 0.75rem;
}

.custom-pwd-box.focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.custom-pwd-box input {
    border: none !important;

}

.custom-pwd-box img {
    width: 1.1rem;
}


.login-info {
    text-align: right;
    font-size: 0.9rem;
    color: #79869d;
}

.login-info a {
    color: #606f7f;
    text-decoration: none;
}

.btn-block {
    display: block;
    width: 100%;
}


.form-section {
    height: 100vh;
    width: 40%;
    display: flex;
    align-items: center;
    padding: 0 4.1rem 2rem 3.5rem;
    flex-direction: column;
    justify-content: center;
}

.login-form-wrap {
    width: 100%;
    max-width: 400px;
}


.login-form-wrap label {
    font-size: 0.9rem;
    color: #79869d;
    margin-bottom: 0.1rem;
}

.section-head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.8rem 0.7rem 0.8rem 0.8rem;
}

.section-head>* {
    margin-bottom: 1rem !important;
}

.section-head .search-form {
    flex-grow: 1;
    margin: 0 1.9rem;
}

.section-head.bordered {
    border-right: 2px solid #f6f8f9;
}

.section-head.bordered-left {
    border-left: 2px solid #f6f8f9;
}

.bordered-right {
    border-right: 2px solid #f6f6f6;
}

.bordered-bottom {
    border-bottom: 2px solid #f6f6f6;
}

.section-head-left {
    font-size: 0.7rem;


}

.no-gutter {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-gutter-right {
    padding-right: 0 !important;
}

.no-gutter-left {
    padding-left: 0 !important;
}

.control-overflow {
    position: relative;
    overflow-y: auto;
    height: 64vh;
}


.section-head-left .section-head-icon {
    width: 0.8rem;
    margin-right: 0.2rem;
}

.table.table-section {
    border-top: 2px solid #f6f8f9 !important;
    margin-bottom: 0;
}

.table-section tr td {
    border: none;
    border-bottom: 2px solid #f6f8f9;
    vertical-align: middle;
    font-size: 1rem;
    padding: 0.7rem 0.5rem 0.7rem 1rem;
}



.section-head-right {
    margin-left: auto;
}

.section-head-right select {
    background-color: transparent;
    border: 1px solid #a8aaad;
    font-size: 0.7rem;
    padding: 0.5rem 0.4rem;
    border-radius: 0.3rem;
}

.control-order-tool {
    display: flex;
    flex-direction: column;
    width: 1.5rem;
}

.control-order-tool .btn {
    padding: 0;
}

.control-order-tool .btn:focus {
    box-shadow: none;
}

.control-order-tool .btn .icon-order::before {
    font-size: 0.6rem;
    font-weight: bolder;
}

.control-order-tool .btn-down {
    transform: rotateX(180deg);
}

.script-type {
    color: #fff;
    background-color: rgb(131 57 236);
    font-weight: 500;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-radius: 0.9rem;
    padding: 0.1rem 0.5rem;
}

.content-display {
    font-size: 1.3rem;
    padding: 1.3rem 1.5rem 0 0;
    text-align: left;
    line-height: 1.6;
    min-height: 100px;
    height: calc(100% - (59px + 34px));
    overflow-y: auto;
    color: #000000;

}


.ql-container {
    font-size: 1.3rem !important;
    font-family: jost, Roboto !important;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #8338ec;
    border-radius: 15px;
}


.no-select {
    color: #b3abab;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.section-footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 0 0.7rem 1rem 0;
}

.section-footer .foot-icons {
    width: 1rem;
    margin-right: 0.4rem;
}

.script-custom-height {
    height: 89vh !important;
    overflow: hidden;
}

.section-footer .btn-share {
    display: flex !important;
    align-items: center;
    margin-right: 1.5rem;
    font-size: 0.9rem;
    color: #5f6f7f !important;
}

.btn-share .foot-icons {
    width: 0.9rem;
    margin-bottom: 0.2rem;
}

.section-footer .btn-copy {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    color: #5f6f7f !important;
}

.section-footer .btn {
    padding: 0;
}

.loader-modal {
    position: fixed;
    top: 60px;
    left: 215px;
    width: calc(100% - 215px);
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f8f9;
    z-index: 1020;
    transition: all 0.2s linear;
}

.loader-modal .loader-img {
    width: 5rem;
}

.no-data-info {
    justify-content: center;
    color: #a3a4a7d1;
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 28;
    height: 100%;
}

.set-min-h {
    min-height: 70vh;
}

.save-btn {
    background-color: pink;
}

.modal-main {
    border-radius: 0.5rem !important;
}

.drop-main-wrap {
    min-width: 6rem !important;
    font-size: 0.8rem !important;
    box-shadow: -3px 3px 6px #eee;
}

.form-label {
    font-size: 0.9rem;
}

.input-table {
    border: 1px solid #c2c8d1 !important;
    font-size: 0.9rem !important;
    border-radius: 0.5rem !important;
    width: 100%;
    padding: 0.55rem 0.75rem !important;
}

.custom-select {
    padding: 0.35rem 0.75rem !important;
}

.control-width {
    max-width: 420px;
}

.sm-control-width {
    max-width: 430px !important;
}

.close-modal,
.save-modal {
    font-size: 0.8rem !important;
    padding: 0.45rem 1.5rem !important;
    border: none !important;
    border-radius: 0.5rem !important;
}

.close-modal {
    margin-right: 0.8rem;
    color: #8338ec !important;
    background-color: #fff !important;
    border: 1px solid #8338ec !important;
}


.save-modal {
    background-color: #8338ec !important;
    color: #fff !important;
}


.modal-head .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.modal-head .desc {
    font-size: 0.9rem;
    color: #848688;
}

.table-custom thead tr th {
    border: none !important;
    font-size: 0.85rem
}


.page-link {
    background-color: transparent !important;
    color: #000 !important;
    border: none !important;
    font-size: 0.9rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.15rem 0.6rem !important;
}

.page-item {
    margin-right: 0.9rem !important;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    color: #fff !important;
    background-color: #570ac2 !important;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 0.9rem !important;
    border-radius: 0.2rem;
}

.active .page-link {
    color: #fff !important;
    background-color: #570ac2 !important;
    border-radius: 50%;
}

.page-item.disabled:first-child .page-link,
.page-item.disabled:last-child .page-link {
    background-color: transparent !important;
    border: 1px solid #570ac2 !important;
    color: #570ac2 !important;
}

.drop-img-icon {
    width: 1.3rem;
}

.action-view .nav-link {
    color: #995cef;
    padding: 0rem 0.7rem;
}

.foot-script-type {
    display: flex;
    align-items: center;
    color: #5f6e84;
    font-size: 0.9rem;
}

.foot-script-type img {
    width: 1.1rem;
    margin-right: 0.4rem;
}

.script-date-text {
    font-size: 0.9rem;
    color: #5f6e84;
}

#modal-view-script p {
    font-size: 0.9rem;
    color: #5f6e84;
    line-height: 1.5rem;
    text-align: justify;
}

.control-height {
    height: calc(100% - 80px);
    overflow-y: auto;
}

.script-table tr {
    cursor: pointer;
}

.script-table tr.active {
    background-color: #f0f2f5;
}

.script-table tbody tr td:nth-child(1) {
    min-width: 264px;
}

#text--copy {
    opacity: 0;
    position: absolute;
    top: -999999px;
}

.table-market td {
    color: #909bae;
}


.table-market .action-view .nav-link {
    color: #909bae;
}



.script-form-footer .loader-modal {
    position: static;
    background-color: #fff;
    width: 3rem !important;
    margin-right: 0.7rem;
}

.script-form-footer .loader-img {
    width: 2rem;
}

.b-toaster.b-toaster-top-right .b-toaster-slot,
.b-toaster.b-toaster-top-left .b-toaster-slot,
.b-toaster.b-toaster-top-center .b-toaster-slot,
.b-toaster.b-toaster-top-full .b-toaster-slot {
    top: 4.5rem !important;
}

.select-script-forms {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-left: auto;
}

.select-script-forms .form-group {
    margin-bottom: 1rem !important;
    margin-right: 1rem;
}

.select-script-forms .search-form {
    margin: 0;
    min-width: 250px;
    margin-bottom: 1rem;
}

.select-script-forms .search-form input:focus {
    background-color: transparent !important;
}

.select-script-forms select {
    min-width: 250px;
    background-color: transparent;
}

.select-script-forms input {
    height: calc(1em + 0.75rem + 4px);
}

.select-script-forms .search-form .search-btn i::before {
    color: #929caf;
    font-size: 1rem;
}

.select-script-forms .search-form .search-btn {
    padding: 0.05rem 0.75rem;
}

.btn-save-to {
    background-color: transparent;
    font-size: 0.9rem !important;
    display: flex;
    align-items: center;
    padding-left: 0 !important;
    color: #5f6f7f !important;
}

.icon-save {
    width: 1.2rem;
}

.responsive-table {
    overflow-x: auto;
}

.m-market-item:first-child {
    border-top: 1px solid #dee2e6;
}

.m-market-list {
    display: none;
}

.m-market-item {
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
    padding: 1rem;
    color: #909bae;
}

.m-market-title {
    margin-bottom: 1rem;
    font-weight: 600;
    color: #000;
}

.m-market-details {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.m-market-action {
    display: flex;
    align-items: center;
}

.m-market-item .action-view .nav-link {
    color: #909bae;
}

.coming-soon-text {
    background-color: red;
    color: #fff;
    padding: 0.3rem 0.4rem;
    font-size: 0.6rem;
    border-radius: 0.5rem;
    position: absolute;
    right: 10px;
}

.script-editor-bg {
    height: 90%;
}

.script-editor-bg .ql-container {
    height: 95% !important;
}

.beta_text {
    background-color: #393F46;
    color: #fff;
    margin-left: 0.5rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.8rem;
    font-size: 0.7rem;
}

.beta_text_sm {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

.b-toast {
    max-width: 290px !important;
}

.toast {
    display: flex;
    flex-direction: row-reverse;
    border-width: 2px !important;
    align-items: center;
    font-size: 1rem !important;
    font-weight: 600 !important;
}

.b-toast .toast .toast-body {
    margin-right: auto;
}

.toast button.close {
    border-radius: 50%;
    font-size: 1rem;
    width: 1.4rem;
    height: 1.4rem;
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.b-toast-success .toast {
    background-color: rgb(226, 235, 226) !important;
    border-color: rgb(187 208 184) !important;
    color: rgb(57, 63, 70) !important;

}

.b-toast-success .toast .toast-header {
    background-color: rgb(226, 235, 226) !important;
}

.b-toast-success .toast button.close {
    border: 2px solid rgb(140, 148, 148) !important;

}

.b-toast-danger .toast {
    background-color: rgb(244 223 224) !important;
    border-color: rgb(233 178 179) !important;
    color: rgb(57, 63, 70) !important;

}

.b-toast-danger .toast .toast-header {
    background-color: rgb(244 223 224) !important;
}

.b-toast-danger .toast button.close {
    border: 2px solid rgb(140, 148, 148) !important;

}






@media screen and (min-width: 1367px) {
    .section-head-left {
        font-size: 0.9rem;
    }

    .btn-create {
        font-size: 0.9rem !important;
    }

    .btn-create span {
        font-size: 1.6rem;
    }

    .btn-export-all {
        font-size: 0.9rem !important;

    }

    .section-head-left .section-head-icon {
        width: 1rem;
    }

    .table-section tr td {
        font-size: 1rem;
    }
}



@media screen and (max-width: 1024px) {
    .form-section {
        width: 80%;
    }

    .loader-modal {
        width: 100%;
        left: 0;
    }


}

@media screen and (max-width: 768px) {
    .content-display {
        font-size: 0.9rem;
    }

    .btn-create span {
        top: 0;
    }

    .form-section {
        width: 60%;
        padding: 0;
    }

    .select-script-forms {
        margin-left: 0;
    }

    .select-script-forms .search-form {
        margin-left: 0;
    }

    .scroll-content {
        padding: 0 2rem !important;
    }

    .flex-main-wrap .content-section {
        overflow-y: auto;
    }

    .scroll-content {
        height: initial;
        overflow-y: initial;
        margin-top: 64px;
    }

    .content-head {
        position: fixed !important;
        width: 100%;
        top: 0;
        left: 0;
    }

    .control-height {
        height: auto;
        min-height: 75vh;
        overflow-y: initial;
    }

    .script-custom-height {
        height: auto !important;
    }

    .table-market {
        display: none;
    }

    .m-market-list {
        display: block;
    }

    .md-bordered-bottom {
        border-bottom: 2px solid #d7d1d1;
    }
}

@media screen and (max-width: 480px) {
    .form-section {
        width: 100%;
        padding: 0;
    }

    .scroll-content {
        padding: 0 !important;
    }

    .section-head-right {
        margin-left: 0;
    }

    .responsive-table {
        width: calc(100vw - 30px);
    }

    .section-head .search-form {
        width: 125px;
    }
}